/* https://developer.paciellogroup.com/blog/2012/05/html5-accessibility-chops-hidden-and-aria-hidden/ */
.offscreen {
  clip-path: inset(100%);
  clip: rect(1px 1px 1px 1px); /* IE 6/7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; /* added line */
  width: 1px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@font-face {
  font-family: Oswald;
  src: url('./fonts/Oswald/Oswald-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Oswald;
  src: url('./fonts/Oswald/Oswald-ExtraLight.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: Oswald;
  src: url('./fonts/Oswald/Oswald-Light.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: Oswald;
  src: url('./fonts/Oswald/Oswald-Bold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: Lato;
  src: url('./fonts/Lato/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Lato;
  src: url('./fonts/Lato/Lato-Light.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: Lato;
  src: url('./fonts/Lato/Lato-Bold.ttf') format('truetype');
  font-weight: 600;
}

body {
  font-weight: 300;
  font-family: 'Oswald', sans-serif;
  padding: 0;
  margin: 0;
  background-color: lightgrey;
}

.menu-container {
  position: absolute;
  flex-direction: column;
  top: 0;
  display: flex;
  width: 100%;
  z-index: 2;
}

.top-menu {
  display: flex;
  padding: 1rem 2rem;
  color: white;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
}

.account {
  position: absolute;
  right: 2.5rem;
}

.account a {
  color: white;
  text-decoration: none;
  padding: 1rem;
}

.menu-checkbox,
.toogle-label {
  display: none;
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
}

.bottom-menu {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 0 2rem;
  margin-right: 2rem;
}

.logo img {
  height: 3rem;
}

.main-menu ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.main-menu a {
  color: white;
  text-decoration: none;
  padding: 1rem;
}

.search-icon {
  position: absolute;
  top: 4.5rem;
  right: 2.5rem;
}

.search-icon a {
  color: white;
}

.account a:hover,
.menu-item a:hover {
  background-color: yellowgreen;
}

.swiper-container {
  position: relative;
  display: flex;
  height: 40rem;
  overflow: hidden;
}

.banner-image {
  width: 100%;
  filter: brightness(50%);
}

.banner {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 16rem;
  top: 15rem;
  left: 50%;
  transform: translateX(-50%);
}

.banner img {
  margin: 0 auto;
  text-align: center;
  width: 6rem;
}

.banner h1 {
  color: white;
  font-weight: bold;
  font-size: 15px;
  padding: 1rem;
  margin: 0 auto;
  text-align: center;
}

.shop-now-button {
  color: white;
  text-decoration: none;
  padding: 1rem;
  margin: 0 auto;
  text-align: center;
  background-color: green;
  width: 10rem;
  border-radius: 200px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-container {
  display: flex;
  width: 75%;
  align-items: center;
}

.main-text {
  width: 50%;
  text-align: center;
}

.offer-container {
  padding: 2vw;
  margin: 2vw;
  background-color: rgb(238, 222, 222);
  text-align: center;
  color: green;
}

.bottom-container {
  width: 100%;
  height: 25vw;
  overflow: hidden;
}

.bottom-image {
  width: 100%;
  height: 40vw;
  object-fit: cover;
  background-position: 50% 30%;
}

.copyright {
  margin-bottom: 8rem;
  margin-top: 2rem;
  text-align: center;
}

@media (max-width: 900px) {
  .main-menu a {
    padding: 0.5rem;
  }

  .banner {
    top: 12rem;
    width: 50%;
  }

  .box-container {
    flex-wrap: wrap;
    width: 50vw;
  }
}

@media (max-width: 650px) {
  .swiper-container {
    height: 20rem;
  }

  .main-menu {
    display: none;
    position: absolute;
    z-index: 3;
    width: 100%;
    left: 0;
    margin: 0;
  }

  .toogle-label {
    display: block;
    cursor: pointer;
    font-size: 1.5rem;
  }

  .banner-image {
    width: auto;
    max-height: 25rem;
  }

  .menu-checkbox:checked ~ .main-menu {
    display: block;
  }

  .bottom-menu {
    display: flex;
    flex-direction: column;
  }

  .main-menu ul {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    background-color: mediumaquamarine;
  }

  .main-menu a {
    display: flex;
    justify-content: center;
    margin: 2px;
    font-size: 15px;
  }

  .banner {
    top: 6rem;
    width: 50%;
  }

  .shop-now-button {
    width: 3rem;
    font-size: 0.7rem;
  }
}
